@import "workspaces/workspaces.scss";
@import "system/system.scss";

.pad-section {
  background-color: $surface;
  color: $onSurface;
  // background-color: mix($surface, $onSurface, 90%);
  border-radius: 11px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.pad-element {
  border-radius: 11px;

  &__inner {
    padding: 0.4rem 0.6rem;
    border-radius: 11px;
  }

  &_hover:hover {
    background-color: $secondaryContainer;
  }
}

.bar-widget {
  margin-top: 0.2rem;
}
