// original pallet
$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext0: #6c6f85;
$overlay2: #7c7f93;
$overlay1: #8c8fa1;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #ccd0da;
$crust: #dce0e8;
$mantle: #e6e9ef;
$base: #eff1f5;

// terminal pallet
$background: $base
$foreground: $text

$normal_black: $subtext1
$normal_red: $red
$normal_green: $green
$normal_yellow: $yellow
$normal_blue: $blue
$normal_magenta: $pink
$normal_cyan: $teal
$normal_white: $surface2

$bright_black: $subtext0
$bright_red: $maroon
$bright_green: $teal
$bright_yellow: $rosewater
$bright_blue: $sky
$bright_magenta: $pink
$bright_cyan: $sapphire
$bright_white: $surface1

