// original pallet
$bg_dark: #1f2335;
$bg: #24283b;
$bg_highlight: #292e42;
$terminal_black: #414868;
$fg: #c0caf5;
$fg_dark: #a9b1d6;
$fg_gutter: #3b4261;
$dark3: #545c7e;
$comment: #565f89;
$dark5: #737aa2;
$blue0: #3d59a1;
$blue: #7aa2f7;
$cyan: #7dcfff;
$blue1: #2ac3de;
$blue2: #0db9d7;
$blue5: #89ddff;
$blue6: #b4f9f8;
$blue7: #394b70;
$magenta: #bb9af7;
$magenta2: #ff007c;
$purple: #9d7cd8;
$orange: #ff9e64;
$yellow: #e0af68;
$green: #9ece6a;
$green1: #73daca;
$green2: #41a6b5;
$teal: #1abc9c;
$red: #f7768e;
$red1: #db4b4b;

// terminal pallet
$background: $bg;
$foreground: $fg;

$normal_black:   $bg_dark;
$normal_red:     $red1;
$normal_green:   $teal;
$normal_yellow:  $orange;
$normal_blue:    $blue0;
$normal_magenta: $magenta;
$normal_cyan:    $cyan;
$normal_white:   $fg_dark;

$bright_black:   $terminal_black;
$bright_red:     $red;
$bright_green:   $green1;
$bright_yellow:  $yellow;
$bright_blue:    $blue;
$bright_magenta: $magenta2;
$bright_cyan:    $blue6;
$bright_white:   $fg;
