{:tasks
 {:requires ([babashka.fs :as fs])
  :init
  (do
    (def home (System/getProperty "user.home"))
    (def name (System/getProperty "user.name")))
  update-system
  (do
    (shell "nix flake update")
    (shell "mozilla-addons-to-nix ../packages/firefox-addons.json ../packages/generated-firefox-addons.nix")
    (shell "echo Now you gotta update every package in packages/ manually :)"))
  ; `browser.places.importBookmarksHTML` setting overrides existing bookmarks
  ; run it in case of closing Firefox without importing bookmarks
  preserve-ff-bookmarks
  (shell (str "rm " home "/.local/share/firefox/bookmarks.html"))}}
