[Desktop Entry]
Type = Application
Name = Lock
Icon = ~/.local/share/icons/Pop/256x256/actions/system-lock-screen.svg
Exec = loginctl lock-session
Terminal = false
GenericName = System Control
Categories = System
