.osd-widget {
  padding-right: 1rem;
  padding-left: 1rem;
  &__icon {
    min-height: 2rem;
    font-size: 4rem;
    color: $onSurface;
  }
  &__scale {
    padding-left: 1.5rem;
    trough,
    progress {
      border-radius: 11px;
      min-height: 1rem;
    }
    trough {
      background-color: $secondaryContainer;
      min-width: 8rem;
    }
    progress {
      background-color: $primary;
    }
  }
}
