@import "color-pallet"
@import "base"
@import "with-count"
@import "with-grid"

configuration {
    display-drun: "Applications";
	drun-display-format: "{name}";
}

prompt {
    str: "Applications";
}
